:root {
  --primary-bg: #070130;
  --bio-bg-color: #141b41;
  --playlist-items-bg: #1a1e33;
  --playlist-hover-bg: #2e3249;
}

body {
  background-image: var(--primary-bg);
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
}

/* removing default decoratoion from all links */
a {
  text-decoration: none;
  color: white;
}

/* removing margin */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

main {
  width: 100%;
  padding: 0% 3%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.aside {
  display: inline-block;
  overflow: hidden;
}

/* Left section*/
.section-1 {
  width: 70%;
  height: 85vh;
  overflow: scroll;
}

/* Hiding scrollbar*/
.section-1::-webkit-scrollbar {
  display: none;
}

/* section 2 of the main part */
.section-2 {
  width: 28%;
  height: 85vh;
  z-index: 2;
}

/* Artist Bio */
.artist-bio {
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  display: flex;
  background-color: var(--bio-bg-color);
  margin-bottom: 40px;
  position: relative;
}

/* Artist image is used as background for div to give it shadow*/
.artist-image {
  height: 20vw;
  width: 20vw;
  background-image: linear-gradient(to bottom, transparent, rgba(20, 27, 65, 1)),
    url("../images/martin.jpg");
  background-size: cover;
}

/* Artist description*/
.artist-detail {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.desc {
  font-size: 1.1rem;
  margin: 1%;
}

/* song name and followers */
.song-name-main,
.followers {
  display: inline-block;
}

/* song name heading properties */
.song-name-main h1 {
  font-size: 2vw;
}

.followers {
  position: absolute;
  right: 0%;
  top: 5%;
}

.followers,
.author {
  font-size: 1vw;
  margin: 1%;
}

/* Tracks and albums */
.action-part p {
  font-size: 0.8rem;
}

.btns > button {
  border: 0px;
  height: 3vw;
  width: 10vw;
  color: white;
  font-size: 1.2vw;
}

/* play button background and animation*/
.btns > button:nth-child(1) {
  cursor: pointer;
  /* creating gradiant background */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* resizing it as we need to move it around */
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

/* gradient animation frames */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* follow button */
.btns > button:nth-child(2) {
  background-color: transparent;
  cursor: pointer;
}

/* Common playlist item class*/
.playlist-item {
  height: 9vh;
  background-color: var(--playlist-items-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 3px;
}

/* playlist hover effect */
.playlist-item:hover {
  background-color: var(--playlist-hover-bg);
}

/* left part if the playlist item */
.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 0% 1%;
}

/* center part */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 100%;
}

/* right part */
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  padding-right: 2%;
}

/* adjusting contents of playlist item */
.left > div:nth-child(2) {
  height: 80%;
  min-width: 50px;
  max-width: 50px;
  margin: 0px 12% 0px 12%;
  position: relative;
}

.left > div:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.left > div:nth-child(3) p {
  color: rgb(185, 185, 185);
}

/* customizing the play button */
.play-btn {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  display: grid;
  place-items: center;
  transition: all ease-in-out 0.1s;
}

/* on hover effects */
.play-btn:hover {
  opacity: 0.7;
}

/* adjusting fonts in the playlist items  */
.left div p {
  font-size: 14px;
}
.center {
  font-size: 12px;
  color: rgb(185, 185, 185);
}
.right {
  color: rgb(185, 185, 185);
}
.right div:nth-child(2) {
  margin-left: 27%;
}

/* Similar Artists Heading */
.section-heading {
  margin-top: 10px;
  position: relative;
  margin-bottom: 12px;
}

.section-heading h1 {
  font-size: 1.3rem;
}

.section-heading div {
  position: absolute;
  bottom: 0%;
  right: 0px;
  font-size: 0.9rem;
}

.list {
  height: 35vh;
  overflow: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

/* Similar Artists */
.list-item {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}

/* hovering effect for the list item */
.list-item:hover {
  background-color: var(--playlist-hover-bg);
}

/* adjusting inside contents */
.list-item > div:nth-child(1) {
  width: 100px;
  height: 100%;
  position: relative;
}

.list-item > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}

.author-name {
  font-size: 12px;
  color: rgb(185, 185, 185);
}

.extra {
  text-align: right;
  height: 100%;
}

.singer-name p {
  margin-top: 16px;
}

@media screen and (max-width: 920px) {
  .section-2 {
    display: none;
  }

  .section-1 {
    width: 100%;
  }

  .desc {
    font-size: 1rem;
  }
}
